$green: #40C440;
$red: #BE4E4E;
/* Header */
.Header {
  display: flex;
  width: 100vw;
  height: 8vh;
  align-items: center;
  border-bottom: .5vh solid black;
  justify-content: flex-start;
  font-family: sans-serif;
  font-weight: bold;

  div {
    font-size: 4vh;
    line-height: 4vh;
  } 

  .headerButton {
    font-size: 2vh;
    background-color: $green;
    color: white;
    height: 4vh;
    border-radius: 1vh;
    width: 8vw;
    text-align: center;
    line-height: 4vh;
    margin-left: 60vw;
  }

  .hb2 {
    margin-left: 3vw;
  }
}
//Seat
.Table {
  background: $green;
  display: flex;
  height: 72vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Seat {
    height: 35vh;
    width: 90vw;
    margin-top: 1vh;
    // border: 5px solid white;
    border-radius: .5vh;
    
    .resultPanel {
      color: white;
      font-family: sans-serif;
      text-align: center;
      font-weight: bold;

    }
  }
  
}
/*
button {
  color: green;
  background: #333;
  height: 50px;
  width: 100px;
}

.buttonPlaceHolder {
  color: green;
  background: #333;
  height: 50px;
  width: 100px;
}

.displayArea {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
  justify-content: center;
}
*/
//Betting Area Below
.BetButtonContainer {
  display: flex;
  justify-content: center;

}

.BetButton {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vh;
  line-height: 4vh;
  text-align: center;
  border-radius: 1vh;
  margin: 1vh;
  width: 10vw;
  height: 4vh;
  background: $green;
  color: white;
  cursor: pointer;
}

.ClearButton {
  background: $red;
}

.BettingArea {
  display: table;
  margin: 0 auto;
  text-align: center;
  .chipContainer {
    display: flex;
  }
}
//Betting Area Above
//trainer below
.trainerGood {
  margin: 1vh; 
}

.trainerWrong {
  background: $red;
  width: 40vw;
  margin: 1vh;
}

//trainer above
//count below
.countDisplay {
  background: purple;
  color: purple;
}

.countDisplay:hover {
    color: white;
}
//count Above

//chipbank below
.ChipBank {
  position: absolute;
  top: 2vh;
  padding: none;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 4vh;
  text-align: center;
  border:  solid black;
  border-radius: 2vh;
  width: 15vw;
  background: darkblue;
  color: gold;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8vh;
  p {
    margin: none;
    padding: none;
    line-height: 1vh;
  }

}
//chipbank above
.seat {
  margin: 23vh;
  border: 2.5vh solid red;
  border-radius: 5vh;
  min-width: 15vw;
  min-height: 27vh;

}

.hand {
  margin: 2vh;
  padding: 2vh;
  border: .5vh solid white;
  border-radius: .5vh;
  min-height: 13vh;
  min-width: 10vw;
}

.buttonArea {
  cursor: pointer;
  display: flex;
  width: 100vw;
  justify-content: center;
  
}
.active {
  border: .5vh solid gold;

}

img {
  width: 8vw;
}

.pocket {
  display: flex;
  justify-content: center;
}